.container {
	padding: 0 5em;
	margin-top: 7rem;
}

.container_user {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 40px;
  align-items: stretch;
}
mat-card {
	padding: 10px;
	padding-bottom: 1em;
	background: rgba(252, 252, 252, 0.795);
	box-shadow: rgba(31, 38, 135, 0.37) 0px 8px 32px 0px;
	backdrop-filter: blur(4px);
}
img {
	width: 100%;
	border-top-left-radius: 1%;
	border-top-right-radius: 1%;
}

.mat-card-header-text {
	margin: 1rem 0 !important;
}
mat-card-header {
	margin-top: 1rem;
}

mat-card-content {
	margin: 0 16px;
}
.details {
	display: inline-block;
	background-color: #3870FF;
	border-radius: 5%;
	margin: .3rem;
	padding: .4em .3em;
	color: #fff;
}
.details > span{
	font-weight: 500;
}