<div class="container" *ngIf="usuario"><!-- Aquí verificamos si usuario no es null, es hasta que usuario tenga información o sea true ahí recién muestra -->
  <div class="container_user">
    <div *ngFor="let u of usuario">
      <!-- fxFlex="10" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" -->
      <mat-card class="example-card">
        <img [src]="u['picture'].large" alt="persona">
        <mat-card-header>
          <mat-card-title>{{ u.name['title'] }} {{ u.name['first']}} {{ u.name['last'] }}</mat-card-title>
          <mat-card-subtitle>{{ u.gender }}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <span class="details"><span>City: </span> {{ u.location['country'] }}</span>
          <span class="details"><span>Age: </span> {{ u.dob['age'] }}</span>
          <span class="details"><span>Phone: </span> {{ u.phone }}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div> 
</div>